@theme {
  --color-gray-2: #f8fafc;
  --color-dark-5: #64748b;
  --color-dark-6: #94a3b8;
  --color-dark: #020D1A;
  --color-primary: #3c50e0;
  --color-stroke-dark: #334155;
  --color-dark-2: #1e293b;
  --color-dark-3: #334155;
  --color-stroke: #e2e8f0;
  --color-neutral-200: #e5e7eb;
  --color-gray-dark: #0f172a;
}
