/* FOR TAILWIND CSS v4 - Use @import */
@import "tailwind             css";
@import "../styles/theme.css";

@layer base {
  body {
    @apply bg-gray-2 text-dark-5 dark:bg-[#020D1A] dark:text-dark-6;
  }
}
       
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

   .custom-scrollbar {
    @apply overflow-auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply size-2;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply relative flex-1 rounded-full bg-neutral-200/40 dark:bg-stroke-dark;
  }

  
  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }

  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* Rest of your CSS remains here... */
